body {
    background-image: url(../img/fondo_ini\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Times New Roman", serif;


}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width:40%;
}

.custom-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn_ing {
    background: linear-gradient(to right, #28503C, #62DC9F);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

h2 {
    font-weight: bold;
}
